#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

html, body{
  height:100%;
  margin: 0;
  overflow: scroll;
}
h1{
    width: 10em;
    height: .5em;
    background: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 1em;
    position: absolute;
    margin: 2.5em;
    top: -1.39em;
    left: 3.65em;
    z-index: 2;
}
.heading {
  padding: 25px;
  height: 7%;
  width: 100%;
  position: absolute;
  top: 0%;
  left:0%;
  background-color: white;
  z-index: 1;
  border-bottom: solid 1px gray;
  }
  
a:link, :active, a:visited {
 
  text-decoration: none;
  text-decoration-color: #666666;
}

.content{
  background-color: white;
  width: 960px;
  height: 400px;
  padding: 10px;
  margin: 50px;
  position: absolute;
  top: 12%;
  left: 11.5%;
  text-indent: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  display: block;
  height: 5px;
  border: 0px;
  border-top: 2px solid #ccc;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
}

.link{
  color:#666666
}
  li {
    float: right;
    color: gray;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 0px;
    padding-bottom: 0;
    text-decoration: none;
    text-decoration-color: #666666;
    font-size: medium;
    list-style-type: none;
    margin-right: 150px;
    margin-left: -170px;
    font-family: Arial, Helvetica, sans-serif;
  }
img{
    Float: left;
       
}


h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    

}
.footer {
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    padding: 10px;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 8px;
    position: absolute;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    border-top: solid 10px #4aaaa5;
  }

.contact{
  background-color: white;
  width: 700px;
  height: 450px;
  padding: 10px;
  margin: 50px;
  position: absolute;
  top: 12%;
  left: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}

  .contact_name{
    width: 325px;
    height: 35px;
    background: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px;
    position: absolute;
    margin: 40px;
    top: 1.3%;
    left: 20.5%;
    z-index: 2;}

    .portfolio{
      background-color: white;
      width: 533px;
      height: 650px;
      padding: 10px;
      top: 20%;
      left: 30%;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: absolute;
      text-indent: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .portfolio_name{
      width: 15%;
      height: 50px;
      background: #4aaaa5;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      position: absolute;
      top: -8.4%;
      left: 300px;
      z-index: 2;}

      .portfolio_footer {
        left: 0;
        top: 100%;
        bottom: 0;
        height: 5%;
        width: 100%;
        padding: 10px;
        background-color: #666666;
        color: white;
        text-align: center;
        font-size: 8px;
        position: absolute;
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif; 
        border-top: solid 10px #4aaaa5;
      }
        
   

 .portfolio-heading {
   padding: 0px;
   height: 12.5%;
   width: 100%;
   position: absolute;
   top:0%;
  left:0%;
  background-color: white;
  z-index: 1;
  border-bottom: solid 1px gray;
  }

  
 .nightlife{
  position: absolute;
  top: 20px;
  right: 50px;
 }       

 .swimmer{
    position: absolute;
    top: 250px;
    right: 50px;
   }       
 
 .food{
  position: absolute;
  top: 20px;
  left: 50px;
 }   

 .headphones{
  position: absolute;
  top: 250px;
  left: 50px;
 }  

 .tech{
  position: absolute;
  top: 465px;
  left: 200px;
 }  

 